

<main>
    <div class="user-header-wrapper flexbox">
        <div class="user-header-inner flexbox">
            <div class="user-header-overlay"></div>
            <img class="user-header" src="https://i.imgur.com/WS9ODfZ.jpg" alt="">
        </div>
    </div>
    <div class="user-info-bar">
        <div class="ufo-bar-col1">
        </div>
        <div class="ufo-bar-col2">
            <div class="ufo-bar-col2-inner">
                <div class="user-icon-wrapper">
                    <img class="user-icon" src="https://i.imgur.com/aviQ5vj.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="ufo-bar-col3">
            <div class="ufo-bar-col3-inner">
                <div class="username-wrapper-outer">
                    <div class="username-wrapper">
                        <div class="verified" style="opacity: 0; top: 150%;"><p>Verified Account</p></div>
                        <h3 class="username-dev"> <%= @user.username %></h3>
                        <svg class="uname-verified" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1350.03 1326.16">
                            <defs><style>.cls-11{fill:var(--primary);}.cls-12{fill:#00000;}</style></defs><title>verified</title>
                            <g id="Layer_3" data-name="Layer 3">
                                <polygon class="cls-11" points="0 747.37 120.83 569.85 70.11 355.04 283.43 292.38 307.3 107.41 554.93 107.41 693.66 0 862.23 120.83 1072.57 126.8 1112.84 319.23 1293.35 399.79 1256.05 614.6 1350.03 793.61 1197.87 941.29 1202.35 1147.15 969.64 1178.48 868.2 1326.16 675.02 1235.17 493.77 1315.72 354.99 1133.73 165.58 1123.29 152.16 878.64 0 747.37"/></g>
                            <g id="Layer_2" data-name="Layer 2">
                                <path class="cls-12" d="M755.33,979.23s125.85,78.43,165.06,114c34.93-36,234.37-277.22,308.24-331.94,54.71,21.89,85,73.4,93,80.25-3.64,21.89-321.91,418.58-368.42,445.94-32.74-3.84-259-195.16-275.4-217C689.67,1049.45,725.24,1003.85,755.33,979.23Z" transform="translate(-322.83 -335.95)"/></g>
                        </svg>
                    </div>
                    <div>
                        <a class="ufo-bar-fff" href=""><span>1</span> Scooter for rent</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ufo-bar-col4">
        </div>
        <div class="ufo-bar-col5">
        </div>
    </div>
    <div class="user-info-bar2">
        <div class="ufo-bar2-col1">
        </div>
        <div id="ufo-home" class="ufo-bar2-col2 ufo-bar2-block">
            <div class="ufo-bar2-col2-inner flexbox">
                <span><i class="uil uil-trophy"></i></span>
                <h3 onClick="toggleContent()" data-class="reservation-description">Reservations</h3>
            </div>
        </div>
        <div id="ufo-videos" class="ufo-bar2-col3 ufo-bar2-block">
            <div class="ufo-bar2-col3-inner flexbox">
                <span><i class="uil uil-star"></i></span>
                <h3 onClick="toggleContent()" data-class="requests-description">Requests</h3>
            </div>
        </div>
        <div id="ufo-about" class="ufo-bar2-col6 ufo-bar2-block">
            <div class="ufo-bar2-col6-inner flexbox">
                <span><i class="uil uil-user"></i></span>
                <h3 onClick="toggleContent()" data-class="about-description">About</h3>
            </div>
        </div>
        <div class="ufo-bar2-col7">
        </div>
    </div>
</main>

<div class="content-container">
    <div id="reservations" class="tab_content">
      <h1>Accept or decline those bookings</h1>
      <p><%= 'No reservations pending' if @bookings_demands.empty? %></p>
      <% @bookings_demands.each do |booking| %>
        <li>
          <span>Booking for <%= booking.scooter.model %></span>
          <span>From <%= booking.start_date %> to <%= booking.end_date %></span>
          <span>Status: <%= booking.status %></span>
          <%= link_to 'Accept', accept_booking_path(booking), method: :patch, data: {confirm: 'Are you sure?'}, class: "btn btn-primary" if booking.status != 'Accepted'%>
          <%= link_to 'Decline', decline_booking_path(booking), method: :patch, data: {confirm: 'Are you sure?'}, class: "btn btn-danger"  if booking.status != 'Declined'%>
        </li>
      <% end %>
    </div>

    <div id="requests" class="tab_content no_show">
      <h1>Here are the requests you made</h1>
      <p><%= "You haven't made any requests yet" if @bookings_requests.empty?%></p>
      <p><%= link_to 'Discover our scooters', scooters_path, class: "btn btn-primary" if @bookings_requests.empty?%></p>

      <% @bookings_requests.each do |request| %>
        <li>
          <span>Booking for <%= request.scooter.model %></span>
          <span>From <%= request.start_date %> to <%= request.end_date %></span>
          <span>Status: <%= request.status %></span>
          <%= link_to 'Cancel', booking_path(request), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
        </li>
      <% end %>
    </div>

    <div id="about" class="tab_content no_show">
      <h1>hello about</h1>
      <% @bookings_requests.each do |booking| %>
        <li>
          <span>Booking for <%= booking.scooter.model %></span>
          <span>From <%= booking.start_date %> to <%= booking.end_date %></span>
          <span>Status: <%= booking.status %></span>
        </li>
      <% end %>
    </div>
</div>
<%= console %>
<script>
  const toggleContent = () => {
    const toggleTitle = event.currentTarget.innerHTML.toLowerCase()
    console.log(toggleTitle)
    const headers = document.querySelectorAll('.tab_content')
    headers.forEach((header) => {
      header.classList.add('no_show')
    })
    const toShow = document.getElementById(toggleTitle)
    toShow.classList.remove('no_show')
  }
</script>
