<div class="container">
  <h1><strong>Choice your scooter</strong></h1>


<div class="container_cards row w-100">
  <% @scooters.each do |scooter| %>
    <div class="card-trip col-12 col-md-6 col-lg-3">
      <%= cl_image_tag scooter.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-trip-infos">
        <div>
         <h2><strong><%= scooter.model %></strong></h2>
         <p> <strong>Descrtiption:</strong> <%= scooter.description %> <br>
          <strong>Rented by :</strong><%= scooter.user.username %> <br>
          <strong>Disponible a partir du : </strong> <%= scooter.available&.strftime("%d/%m/%Y") %>
          </p>
          <%= link_to 'Edit', edit_scooter_path(scooter) ,class: "btn btn-primary" %>
          <%= link_to 'Remove', scooter_path(scooter),
                    method: :delete,
                   data: {confirm: 'Are you sure?'},
                   class: "btn btn-danger"
           %>
       </div>
       <h2 class="card-trip-pricing"><%= scooter.price %>€/J</h2>
       <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
   </div>
</div>
<% end %>
</div class= "button-add">
  <%= link_to 'Add a new scooter', new_scooter_path, class: "btn btn-primary"%>
</div>
<%= console %>
