<div class="container">
  <h1>All Scooters</h1>

  <ul>
    <% @scooters.each do |scooter| %>
      <li>
        <%= scooter.model %> rented by <%= scooter.user.username %>
        <%= link_to 'Edit', edit_scooter_path(scooter) %>
        <%= link_to 'Remove', scooter_path(scooter),
                    method: :delete,
                   data: {confirm: 'Are you sure?'}
        %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Add a new scooter', new_scooter_path %>
</div>
